language: node_js
node_js:
  - "10.8.0"
branches:
  only:
  - master
  - production
before_deploy: npm run build
deploy:
  provider: pages
  skip-cleanup: true
  github-token:
    secure: lwUyKDfXneC1MnWtJLA36a0555jONuQK7gAsTsipqr2n68rmnSdtw/I30RAVJZhduY8PRD6tbHTZhSWNGClrnTbqN/G1OIH1rm0raN1GCH9284IXnkvyFLQNsqT2oE6QmCg3Nlmi1KtkVhsksCe9pbMbfrKHIXz0CC3wjQlEoFLAt1sECFHYG7F4I7X8h17kS32ik2k3VMZF/937TyBMkQXPVmuh4ZTfbZ0C/R1Z590NgyhFAG25HTMfIob4P7hCYRZKGpGS4Wf1ktHbDVVchjaDOa+t6/6aRofOiES8plcwDk/gc4I1L37sM5QwkMAsi49q/VaQfnzjRl2iYkoV/qVF/AOEcsUO+DSMTYRKRFL3kwPl3LvXbiYDv6CJAB55mXFta+VtgmeEXlklsvuCuPH1wJiy9EPGpO5/PO88pjodc1a262eOZ7tMRYFs9Mf0NLFGT26a0lXdTQ1kqK5izUzuuX6sd3D9LhK7qpkuytcoK/Oz06ZXXitjnnVk0AjWDHCq/s4w4OkjWz+XhPcIkU9Vt/0Xyu32STrCcXA4uqNazXqrOPMxzENHqkKzyXXp9ph+FLYzD2hhlmmHg7TljIupdydK4z4cYV3pW6qydhWF2lhpJv8rnFrsS5EG5je0kiqAJzSU4MY/ocT3REF1ZbOC3xSsW9dUoUdqnBhPWEQ=
  keep-history: true
  local-dir: dist
  on:
    branch: master
notifications:
  email: false
  slack:
    secure: oXtGl621JS8T1KKffL+LCMjtfWPuTb6DPOlLyPNsjqf1ZBtdG9T1rppiOjMobCkJ7r6GhzCQdUy5ALFbgM49UlBx41NRrMKFxdrgktZ576gdpI8Fzelbeyb7GvbB5x6atDK0Qvl+yyW+Q3Yb8omeXjJ4PUOH7s1uvVdL8h9Y3h4br/4z3IkDe3t3r4taRPyCzwsiZ0Z43AAwjuJ18YZN59OHg7r8HK1m0cuVQrpTtb36bwo9J+aB7GmLbgGq3Gii3df4EeX4pa7ongEzoUoZK2qh+f2aYH55J7jW11pTsFiYSHvx5bzZzHXKI1Y+H8cD6/7rFLn+zx+sRrtDhhA1AVmBWBCBBxUDkTquy+qCxh1L7pw23JxK0lP96wpYmqd40A6SBvY6aGalIfYMPZLj++/vnqdYrGjm9XIrxNs6h45C8LfZZPfzsyoTMm7q0/LTei6qcksc5EWOscaOZ1Pshh4+J2lXytkXtQyjCFkJRTaa9Z5uhYN/CpFhpLHI5A+ySIKosB9Ckbw32UhwL5iT2QSLjqjpCiF3Hb+cd+lCbqHNiPsdynbZGiMOGXC3H6KRLYx8e9OjEv+rXzlSrVlZbRCfdydSAFJsk7NOS4kVCAjNPSl469OcH/jsxCvtidlNJKi8sewiXjSLjAO2wT4uLWQ6ZNNbWbHD5aGFADKDNCQ=
